In [1]:
from selenium import webdriver

In [2]:
import selenium

In [3]:
options = webdriver.ChromeOptions()

In [4]:
options.add_argument("--incognito")

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("scrap_elo_base.csv", sep =",")

In [26]:
df

,Season,Date,HomeTeam,AwayTeam,Home/Away,FTHG (Full Time Home Team Goals),FTAG (Full Time Away Team Goals),Win/Loose/Draw,FTR (Full Time Result),HTHG (Half Time Home Team Goals),...,AF (Away Fouls),HY (Home Yellow Cards),AY (Away Yellow Cards),HR (Home Red Cards),AR (Away Red Cards),xGH (Expected Goals Home),xGA (Expected Away Goals),xGDiff,Elo_Liverpool,Rest_Days
0,2012-13,2012-08-18,West Brom,Liverpool,A,3,0,L,H,1,...,11,1,4,0,1,NaN,NaN,NaN,1742.60021973,6
1,2012-13,2012-08-26,Liverpool,Man City,H,2,2,D,D,1,...,7,1,0,0,0,NaN,NaN,NaN,1729.25158691,3
2,2012-13,2012-09-02,Liverpool,Arsenal,H,0,2,L,A,0,...,7,2,2,0,0,NaN,NaN,NaN,1733.52380371,3
3,2012-13,2012-09-15,Sunderland,Liverpool,A,1,1,D,D,1,...,10,1,2,0,0,NaN,NaN,NaN,1722.60900879,13
4,2012-13,2012-09-23,Liverpool,Man United,H,1,2,L,A,0,...,7,1,2,1,0,NaN,NaN,NaN,1732.29528809,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,2019-20,2020-07-08,Brighton,Liverpool,A,1,3,W,A,1,...,15,1,4,0,0,2.36,2.62,0.26,2002.9407959000002,3
300,2019-20,2020-07-11,Liverpool,Burnley,H,1,1,D,D,1,...,4,1,2,0,0,2.18,0.45,1.73,2005.79724121,3
301,2019-20,2020-07-15,Arsenal,Liverpool,A,2,1,L,H,2,...,10,3,1,0,0,1.32,2.22,0.90,1998.45800781,4
302,2019-20,2020-07-22,Liverpool,Chelsea,H,5,3,W,H,3,...,11,1,0,0,0,1.45,2.38,-0.93,1986.60888672,7
303,2019-20,2020-07-26,Newcastle,Liverpool,A,1,3,W,A,1,...,5,1,0,0,0,0.34,0.57,0.23,1991.13781738,4

In [8]:
df['Date'] = df['Date'].astype('datetime64')

In [9]:
import datetime as dt

In [10]:
df['Date'] = df['Date'].dt.strftime('%Y-%m-%d')

In [11]:
df['Date']

0      2012-08-18
1      2012-08-26
2      2012-09-02
3      2012-09-15
4      2012-09-23
          ...
299    2020-07-08
300    2020-07-11
301    2020-07-15
302    2020-07-22
303    2020-07-26
Name: Date, Length: 304, dtype: object

In [12]:
driver = webdriver.Chrome("./chromedriver.exe", options= options)

In [13]:
driver.get("http://clubelo.com/2012-08-18/ENG")

In [99]:
balise = 'tbody tr td a[href ="/' + str(df['Date'][0]) +'/'+ str(df['HomeTeam'][0]).replace(" ","") +'"]' 
element = driver.find_element_by_css_selector(balise)

In [102]:
elo = driver.find_element_by_link_text(element.text)

In [66]:
if (df['Home/Away'][0] == "A") :
    teamname = str(df['HomeTeam'][0]).replace(" ", "")
    balise = 'tbody tr td a[href ="/' + str(df['Date'][0]) +'/'+ teamname +'"]' 
    element = driver.find_element_by_css_selector(balise)
    #element = driver.find_element_by_css_selector('tr td[class = "r"]')
    print(element.text)

West Brom

# Test Elo sur chaque page

In [14]:
driver.get("http://clubelo.com/2012-08-18/WestBrom")

In [15]:
element = driver.find_element_by_css_selector('div[class ="astblatt"] b')
element.text

'1675'

# Boucle pour récupérer tous les elos

In [18]:
elo_list = []

In [20]:

for i in df.index :
    if (df['Home/Away'][i] == "A") :
        url = "http://clubelo.com/" + str(df['Date'][i]) +"/"+ str(df['HomeTeam'][i]).replace(" ","")
        driver.get(url)
        elo = driver.find_element_by_css_selector('div[class ="astblatt"] b')
        print(elo.text)
        elo_list.append(elo.text)
    else :
        url = "http://clubelo.com/" + str(df['Date'][i]) +"/"+ str(df['AwayTeam'][i]).replace(" ","")
        driver.get(url)
        elo = driver.find_element_by_css_selector('div[class ="astblatt"] b')
        print(elo.text)
        elo_list.append(elo.text)

1675
1918
1818
1676
1914
1615
1675
1617
1781
1749
1868
1648
1647
1752
1557
1653
1619
1667
1679
1542
1648
1904
1622
1789
1878
1652
1680
1622
1820
1599
1618
1632
1558
1841
1671
1782
1646
1554
1643
1676
1919
1682
1644
1619
1525
1683
1700
1891
1668
1821
1554
1659
1668
1839
1606
1937
1903
1596
1661
1661
1834
1667
1901
1600
1673
1694
1868
1555
1622
1807
1674
1954
1608
1928
1618
1650
1717
1954
1807
1630
1648
1804
1632
1547
1578
1634
1921
1589
1673
1610
1647
1842
1847
1586
1687
1591
1642
1607
1707
1746
1791
1774
1911
1569
1666
1831
1854
1621
1601
1571
1550
1922
1624
1682
1696
1582
1832
1594
1805
1602
1551
1718
1737
1692
1804
1657
1889
1646
1559
1650
1633
1730
1574
1664
1847
1779
1603
1740
1584
1554
1859
1639
1722
1814
1704
1644
1712
1589
1648
1645
1796
1646
1841
1631
1801
1798
1804
1606
1667
1784
1652
1639
1651
1755
1616
1623
1646
1608
1699
1670
1854
1599
1814
1597
1876
1561
1847
1669
1842
1633
1837
1759
1622
1664
1664
1641
1622
1694
1671
1560
1602
1621
1844
1874
1654
1712
1647
1917
1927
1541
1657
1681
1919
1659
1623
1684
1624
1648
1840
1609
1727
1694
1980
1613
1538
1919
1666
1670
1644
1904
1639
1649
1693
1671
1595
1620
1856
1635
1671
1705
1633
1703
1916
1645
1855
1963
1542
1556
1845
1572
1650
1711
1615
1683
1842
1628
1630
1843
1963
1641
1658
1683
1663
1670
1861
1682
1679
1644
1564
1899
1678
1866
1590
1501
1690
1721
1631
1663
1878
1697
1713
1855
1639
1768
1810
1843
1644
2026
1741
1633
1702
1679
1630
1827
1772
1685
1820
1819
1765
1685
1701
1603
1678
1662
1641
1733
1732
1970
1595
1652
1725
1800
1820
1686

In [39]:
print(elo_list)

['1942', '1676', '1675', '1918', '1818', '1676', '1914', '1615', '1675', '1617', '1781', '1749', '1868', '1648', '1647', '1752', '1557', '1653', '1619', '1667', '1679', '1542', '1648', '1904', '1622', '1789', '1878', '1652', '1680', '1622', '1820', '1599', '1618', '1632', '1558', '1841', '1671', '1782', '1646', '1554', '1643', '1676', '1919', '1682', '1644', '1619', '1525', '1683', '1700', '1891', '1668', '1821', '1554', '1659', '1668', '1839', '1606', '1937', '1903', '1596', '1661', '1661', '1834', '1667', '1901', '1600', '1673', '1694', '1868', '1555', '1622', '1807', '1674', '1954', '1608', '1928', '1618', '1650', '1717', '1954', '1807', '1630', '1648', '1804', '1632', '1547', '1578', '1634', '1921', '1589', '1673', '1610', '1647', '1842', '1847', '1586', '1687', '1591', '1642', '1607', '1707', '1746', '1791', '1774', '1911', '1569', '1666', '1831', '1854', '1621', '1601', '1571', '1550', '1922', '1624', '1682', '1696', '1582', '1832', '1594', '1805', '1602', '1551', '1718', '1737', '1692', '1804', '1657', '1889', '1646', '1559', '1650', '1633', '1730', '1574', '1664', '1847', '1779', '1603', '1740', '1584', '1554', '1859', '1639', '1722', '1814', '1704', '1644', '1712', '1589', '1648', '1645', '1796', '1646', '1841', '1631', '1801', '1798', '1804', '1606', '1667', '1784', '1652', '1639', '1651', '1755', '1616', '1623', '1646', '1608', '1699', '1670', '1854', '1599', '1814', '1597', '1876', '1561', '1847', '1669', '1842', '1633', '1837', '1759', '1622', '1664', '1664', '1641', '1622', '1694', '1671', '1560', '1602', '1621', '1844', '1874', '1654', '1712', '1647', '1917', '1927', '1541', '1657', '1681', '1919', '1659', '1623', '1684', '1624', '1648', '1840', '1609', '1727', '1694', '1980', '1613', '1538', '1919', '1666', '1670', '1644', '1904', '1639', '1649', '1693', '1671', '1595', '1620', '1856', '1635', '1671', '1705', '1633', '1703', '1916', '1645', '1855', '1963', '1542', '1556', '1845', '1572', '1650', '1711', '1615', '1683', '1842', '1628', '1630', '1843', '1963', '1641', '1658', '1683', '1663', '1670', '1861', '1682', '1679', '1644', '1564', '1899', '1678', '1866', '1590', '1501', '1690', '1721', '1631', '1663', '1878', '1697', '1713', '1855', '1639', '1768', '1810', '1843', '1644', '2026', '1741', '1633', '1702', '1679', '1630', '1827', '1772', '1685', '1820', '1819', '1765', '1685', '1701', '1603', '1678', '1662', '1641', '1733', '1732', '1970', '1595', '1652', '1725', '1800', '1820', '1686']

In [1]:
print(len (elo_list))

NameError: name 'elo_list' is not defined

In [24]:
driver.close()

In [33]:
df2.to_csv(r'C:\Users\jacky\Downloads\Work\ESILV\Projets\Liverpool\Test_Dev\elo_opponent.csv', header = True, index = False)