In [74]:
from selenium import webdriver

In [75]:
options = webdriver.ChromeOptions()

In [76]:
options.add_argument("--incognito")

In [77]:
driver = webdriver.Chrome("./chromedriver.exe", options= options)

In [78]:
driver.get("https://fbref.com/en/players/cd1acf9d/all_comps/Trent-Alexander-Arnold-Stats---All-Competitions")

In [79]:
saison = driver.find_elements_by_css_selector('div[id="div_stats_standard_ks_expanded"] tbody tr th')

In [80]:
lst_saison = [x.text for x in saison]

In [81]:
nbmatchs = driver.find_elements_by_css_selector('div[id="div_stats_shooting_ks_expanded"] tbody tr td[data-stat="minutes_90s"]')

In [82]:
lst_nbmatchs = [x.text for x in nbmatchs]

In [83]:
assist = driver.find_elements_by_css_selector('div[id="div_stats_standard_ks_expanded"] tbody tr td[data-stat="assists"]')

In [84]:
lst_assist = [x.text for x in assist]

In [85]:
for i in range(len(lst_assist)):
    lst_assist[i] = "NaN" if lst_assist[i] =='' else lst_assist[i]

In [86]:
crosses = driver.find_elements_by_css_selector('div[id="div_stats_passing_types_ks_expanded"] tbody tr td[data-stat="crosses"]')

In [87]:
lst_crosses = [x.text for x in crosses]

In [88]:
for i in range(len(lst_crosses)):
    lst_crosses[i] = "NaN" if lst_crosses[i] =='' else lst_crosses[i]

In [89]:
sca = driver.find_elements_by_css_selector('div[id="div_stats_gca_ks_expanded"] tbody tr td[data-stat="sca"]')

In [90]:
lst_sca = [x.text for x in sca]

In [91]:
for i in range(len(lst_sca)):
    lst_sca[i] = "NaN" if lst_sca[i] =='' else lst_sca[i]

In [92]:
sca90 = driver.find_elements_by_css_selector('div[id="div_stats_gca_ks_expanded"] tbody tr td[data-stat="sca_per90"]')

In [93]:
lst_sca90 = [x.text for x in sca90]

In [94]:
for i in range(len(lst_sca90)):
    lst_sca90[i] = "NaN" if lst_sca90[i] =='' else lst_sca90[i]

In [95]:
gca = driver.find_elements_by_css_selector('div[id="div_stats_gca_ks_expanded"] tbody tr td[data-stat="gca"]')

In [96]:
lst_gca = [x.text for x in gca]

In [97]:
for i in range(len(lst_gca)):
    lst_gca[i] = "NaN" if lst_gca[i] =='' else lst_gca[i]

In [98]:
gca90 = driver.find_elements_by_css_selector('div[id="div_stats_gca_ks_expanded"] tbody tr td[data-stat="gca_per90"]')

In [99]:
lst_gca90 = [x.text for x in gca90]

In [100]:
for i in range(len(lst_gca90)):
    lst_gca90[i] = "NaN" if lst_gca90[i] =='' else lst_gca90[i]

In [101]:
touches = driver.find_elements_by_css_selector('div[id="div_stats_possession_ks_expanded"] tbody tr td[data-stat="touches"]')

In [102]:
lst_touches = [x.text for x in touches]

In [103]:
for i in range(len(lst_touches)):
    lst_touches[i] = "NaN" if lst_touches[i] =='' else lst_touches[i]

In [104]:
compet = driver.find_elements_by_css_selector('div[id="div_stats_standard_ks_expanded"] tbody tr td[data-stat="comp_level"] a')

In [105]:
lst_compet = [x.text for x in compet]

In [106]:
but = driver.find_elements_by_css_selector('div[id="div_stats_standard_ks_expanded"] tbody tr td[data-stat="goals"]')

In [107]:
lst_goals = [x.text for x in but]

In [108]:
for i in range(len(lst_goals)):
    lst_goals[i] = "NaN" if lst_goals[i] =='' else lst_goals[i]

In [109]:
lst_saison.pop(6)
lst_saison.pop(9)
lst_saison.pop(12)
lst_saison.pop(-2)

lst_compet.pop(6)
lst_compet.pop(9)
lst_compet.pop(12)
lst_compet.pop(-2)

lst_assist.pop(6)
lst_assist.pop(9)
lst_assist.pop(12)
lst_assist.pop(-2)

lst_goals.pop(6)
lst_goals.pop(9)
lst_goals.pop(12)
lst_goals.pop(-2)

'NaN'

In [110]:
print(len(lst_assist))
print(len(lst_crosses))
print(len(lst_gca))
print(len(lst_gca90))
print(len(lst_sca))
print(len(lst_sca90))
print(len(lst_touches))
print(len(lst_nbmatchs))
print(len(lst_saison))
print(len(lst_compet))
print(len(lst_goals))

16
16
16
16
16
16
16
16
16
16
16

In [111]:
import pandas as pd

In [123]:
dfAlexanderArnold = pd.DataFrame ({"Saison" : lst_saison,
                                   "Competition" : lst_compet,
                                   "90s" : lst_nbmatchs,
                                   "Goals" : lst_goals,
                                   "Assists" : lst_assist,
                                   "Touches" : lst_touches,
                                   "Crosses" : lst_crosses,
                                   "SCA":  lst_sca,
                                   "SCA90" : lst_sca90,
                                   "GCA" : lst_gca,
                                   "GCA90" : lst_gca90})

In [124]:
dfAlexanderArnold

,Saison,Competition,90s,Goals,Assists,Touches,Crosses,SCA,SCA90,GCA,GCA90
0,2016-2017,EFL Cup,2.7,0,1,NaN,15,NaN,NaN,NaN,NaN
1,2016-2017,FA Cup,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-2017,PL2 — Div. 1,11.9,4,4,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-2017,Premier League,1.9,0,0,NaN,6,NaN,NaN,NaN,NaN
4,2017-2018,PL2 — Div. 1,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-2018,Champions Lg,9.1,1,1,NaN,49,NaN,NaN,NaN,NaN
6,2017-2018,FA Cup,1.2,0,0,NaN,13,NaN,NaN,NaN,NaN
7,2017-2018,Premier League,17.5,1,1,1444,67,39,2.23,2,0.11
8,2018-2019,Champions Lg,10.2,0,2,831,42,32,3.13,5,0.49
9,2018-2019,Premier League,27.4,1,12,2492,111,83,3.03,17,0.62
10,2019-2020,Champions Lg,6.5,0,1,792,39,22,3.40,1,0.15
11,2019-2020,Community Shield,0.7,0,0,NaN,7,NaN,NaN,NaN,NaN
12,2019-2020,Premier League,35.3,4,13,3520,183,151,4.28,24,0.68
13,2019-2020,Super Cup,0.3,0,0,NaN,1,NaN,NaN,NaN,NaN
14,2020-2021,Champions Lg,1.0,0,0,70,1,1,1.00,0,0.00
15,2020-2021,Premier League,5.0,0,1,427,23,11,2.21,1,0.20

In [125]:
dfAlexanderArnold = dfAlexanderArnold.drop([0,1,2,3,4,14,15])

In [126]:
dfAlexanderArnold

,Saison,Competition,90s,Goals,Assists,Touches,Crosses,SCA,SCA90,GCA,GCA90
5,2017-2018,Champions Lg,9.1,1,1,NaN,49,NaN,NaN,NaN,NaN
6,2017-2018,FA Cup,1.2,0,0,NaN,13,NaN,NaN,NaN,NaN
7,2017-2018,Premier League,17.5,1,1,1444,67,39,2.23,2,0.11
8,2018-2019,Champions Lg,10.2,0,2,831,42,32,3.13,5,0.49
9,2018-2019,Premier League,27.4,1,12,2492,111,83,3.03,17,0.62
10,2019-2020,Champions Lg,6.5,0,1,792,39,22,3.40,1,0.15
11,2019-2020,Community Shield,0.7,0,0,NaN,7,NaN,NaN,NaN,NaN
12,2019-2020,Premier League,35.3,4,13,3520,183,151,4.28,24,0.68
13,2019-2020,Super Cup,0.3,0,0,NaN,1,NaN,NaN,NaN,NaN

In [127]:
nomfichier = "AlexanderArnold_data_all.csv"

In [128]:
dfAlexanderArnold.to_csv(nomfichier, header = True, index = False)

In [119]:
driver.close()